* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BGCOLOR: #fff;
    --WHITE: #fff;
    --GREENBG: #2aab0d50;
    --BGMARGIN: 0 3em 0 3em;
    --BLACK: #000000b0;
}

body {
    background: rgba(220, 220, 220, 0.144);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-image: linear-gradient(#00000094, #00000094), url(/img/River-forest.jpg);
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Logo */
.logo img {
    width: 100px; 
    height: auto;
    padding: 10px; 
    background-color: white; 
    border: 1px solid white; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, border 0.3s ease; 
}

/* Hover Effect */
.logo img:hover {
    background-color: #db8b14; 
    border: 1px solid #db8b14; 
}

/* logged in user styling */
.typing-effect {
    font-size: 2rem;
    color: #000;
    border-right: 2px solid; /* Simulate a cursor */
    white-space: nowrap;
    overflow: hidden; 
}
main {
    position: relative; /* Allows positioning of children */
    height: 1000px; /* Full viewport height */
    overflow: hidden; /* Prevent scrollbars on main */
}

#mainframe {
    border: none; /* Removes the default border */
    width: 100%; /* Full width */
    height: 100%; /* Allow the iframe to adjust its height */
    overflow-y: visible; /* Prevent vertical scrollbars */
    position: relative; /* Allow positioning within the main */
    top: 0; /* Aligns to the top of the main */
    left: 0; /* Aligns to the left of the main */
    right: 0; /* Aligns to the right of the main */
    bottom: 0; /* Aligns to the bottom of the main */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Add the placeholder styles and other styles here */
.user-info {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* Container for the profile picture */
#profilePicContainer {
    margin-right: 10px; /* Space between the picture and name */
}

.profile-pic {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Make it circular */
}

.placeholder-pic {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-color: green; /* Placeholder color */
    color: white; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Make it circular */
    font-weight: bold; /* Make the text bold */
}

/* Container for the user name */
#userNameContainer {
    position: relative;
}

/* User name styling */
.user-first-name {
    margin-left: 10px; /* Space between the picture and name */
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold; /* Optional: make the name bold */
    color: #fff; /* Adjust color as needed */
}

/* Dropdown menu styling */
.dropdown {
    position: absolute;
    top: 45px;
    right: -12px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    z-index: 1000;
    flex-direction: column;
    display: none; /* Initially hidden */
}

.dropdown a {
    text-decoration: none;
    color: #68c6c8;
}

.dropdown a:hover {
    text-decoration: underline;
}

/* Popup styles */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    height: 40vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 50px;
}

.close {
    color: #aaa;
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for the file input */
input[type="file"] {
    display: none; /* Hide the default file input */
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth background color transition */
}

.custom-file-upload:hover {
    background-color: #45a049; /* Darker green on hover */
}

#uploadButton {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #68c6c8; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth background color transition */
}

#uploadButton:hover {
    background-color: #418c8d; /* Darker blue on hover */
}

/* Progress bar container */
/* Style the progress bar overlay */
.progress-bar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is on top of the popup */
    backdrop-filter: blur(5px); /* Apply blur effect to background */
    display: none; /* Initially hidden */
}

.progress-bar {
    width: 80%;
    height: 17px; /* Adjust width as needed */
    max-width: 500px; /* Maximum width for the progress bar */
    background-color: #ccc;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.progress-bar-fill {
    width: 0%; /* Start with 0% width */
    height: 17px;
    background-color: rgba(7, 172, 7, 0.897); /* Green fill */
    border-radius: 10px;
    transition: width 0.2s ease-in-out;
}

.progress-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
}

 

/* ......................... */

/* Chat button styling */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #68c6c8;/* Button color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000; /* Ensure it stays on top */
}

/* Chat button icon */
.chat-button img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* Hover effect for the button */
.chat-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
/* ........................... */
.laptop-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000c8;
    backdrop-filter: blur(2px);
    padding: 1.2em 1.5em 1.2em 1.5em;  
}

.flight-stay, .login-signup {
    display: flex;
    align-items: center;
    gap: 1.8em;
}

:is(.flight-stay-anchor, .flight-stay-anchor2) {
    color: var(--WHITE);
    text-decoration: none;
    display: flex;
    gap: 0.3em;
}

.flight-stay-anchor::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0.15em;
    bottom: 1.0em;
    background-color: var(--BGCOLOR);
    transition: all 0.4s 0.1s linear;
}

.flight-stay-anchor:hover::before, .flight-stay-anchor:focus::before {
    width: 3.5%;
}

.flight-stay-anchor2::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0.15em;
    bottom: 1.0em;
    background-color: var(--BGCOLOR);
    transition: all 0.4s 0.1s linear;
}

.flight-stay-anchor2:hover::before, .flight-stay-anchor2:focus::before {
    width: 3.0%;
}

.flight-stay-img {
    margin-bottom: -0.2em;
}

:is(.login-signup-anchor1, .login-signup-anchor2) {
    text-decoration: none;
    color: var(--WHITE);
}

.login-signup-anchor1::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0.15em;
    bottom: 1em;
    background-color: var(--BGCOLOR);
    transition: all 0.4s 0.1s linear;
}

.login-signup-anchor1:hover::before, .login-signup-anchor1:focus::before{
    width: 2.2%;
}

.login-signup-anchor2 {
    color: #000;
    background-color: var(--BGCOLOR);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.8em;
    font-weight: 900;
}

.login-signup-anchor2:hover, .login-signup-anchor2:focus {
    color: #db8b14;
    transition: all 0.5s 0.1s linear;
    transform: scale(0.9);
}

.login-signup-anchor2::after {
    content: '';
    position: absolute;
    width: 0;
}

.login-signup-anchor2:hover::after, .login-signup-anchor2:focus::after {
    padding: 1em 3.2em 0.5em 1.5em;
    margin-top: -0.5em;
    margin-left: -1.9em;
    border-radius: 0.8em;
    height: 10px;
    left: 114em;
    width: 10px;
    transition: all 0.5s 0.1s linear;
}

.header-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 65.8vh;
}

:is(h1, .header-paragraph) {
    color: var(--WHITE);
}

h1 {
    font-size: 4em;
}

.header-paragraph {
    font-size: 1.5em;
}

.header-bottom {
    margin: var(--BGMARGIN);
    margin-top: -6.5em;
    background: var(--BGCOLOR);
    padding: 0 1.5em 2em 1.5em;
    border-radius: 1em;
    /* border: 1px solid #000000 */
    box-shadow: 0 4px 6px rgba(141, 214, 234, 0.198);
}

.flight-stay-bottom {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 0 1em 0;
}

.flight-stay-bottom-paragraph {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    transform: scale(1);
}

.flight-stay-bottom-paragraph:hover {
    color: #db8b14;
    transform: scale(0.9);
}

.flight-stay-bottom-paragraph img {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.flight-stay-bottom-paragraph:hover img {
    color: #fff;
    transform: scale(1.2);
}


form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    
}

.flight-form {
    padding: 1em 0 2em 0;
}

fieldset {
    padding: 0.1em 1em 0.1em 1em;
    border: 1px solid var(--BLACK);
}

:is(legend, .fieldset-paragraph) {
    color: var(--BLACK);
}

.fieldset-paragraph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
}

#from, #to {
    /* flex: 1; */
    padding: 10px;
    box-sizing: border-box;
}

#to {
    padding-left: 90px;
}

/* #departDate, #returnDate {} */

.swap-icon {
    width: 24px; /* Adjust icon size */
    height: auto;
    margin: 0 10px; /* Adds space around the icon */
}

.fieldset-paragraph input {
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    color: var(--BLACK);
}

.header-bottom-more-info, .promo-show {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5em;
    color: #000;
    text-decoration: none;
    font-weight: 650;
}

.promo-show2 {
    background: var(--GREENBG);
    padding: 0.65em 1em 0.65em 1em;
    border-radius: 0.5em;
    font-weight: 900;
}

main {
    padding-top: 11em;
    margin: var(--BGMARGIN);
}

.section-one-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.6em 0 0.6em 0;
}

.section-one-child-paragraph {
    color: var(--BLACK);
}

.section-one-child2 {
    margin: 1.5em 0 0.5em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

.section-one-child-anchor {
    text-decoration: none;
    color: #000;
    border: 1px solid var(--GREENBG);
    padding: 0.5em 1em 0.5em 1em;
}

.section-one-child-anchor:hover{
    background-color: #68c6c8;
    color: #fff;
    transition: all 0.5s 0.1s linear;
}

.section-one-child2-contents {
    background: var(--BGCOLOR);
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 0.6em;
    transition: all 0.4s 0.10s ease-in-out;
}

.section-one-child2-contents:hover, .section-one-child2-contents:hover {
    box-shadow: 0 0.1em 0.5em 0.01em var(--GREENBG);
    transform: scale(1.03);
}

.section-one-child2-contents img {
    width: 80px;
    height: 70px;
    border-radius: 0.6em;
}

.country-texts {
    line-height: 1.5;
}

.country-paragraph {
    color: var(--BLACK);
}

.country-list:first-child {
    list-style: none;    
}

.country-list {
    list-style-position: inside;
}

.country-ulist {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.country-anchor {
    text-decoration: none;
    color: #000;
}

.section-one-child3 {
    margin: 3.5em auto 2em auto; /* Center horizontally */
    max-width: 1600px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    text-align: center;
    justify-content: center;
    width: 100%; /* Ensure it doesn't go beyond the screen width */
}


.flights-hotels {
    background-image: radial-gradient(#000000a6, #00000050), url(/img/airplane.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 53.1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
    color: var(--WHITE);
    font-weight: 900;
    border-radius: 0.5em;
    box-shadow: 0 8px 9px  rgba(141, 214, 234, 0.435);
}

.flights-hotels2 {
    background-image: radial-gradient(#000000a6, #00000050), url(/img/hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 53.1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
    color: var(--WHITE);
    font-weight: 900;
    border-radius: 0.5em;
    box-shadow: 0 9px 9px  rgba(141, 214, 234, 0.435);
}

.flights-hotels-heading {
    font-size: 2em;
}

.flights-hotels-paragraph {
    color: #ffffffd1;
}

.flights-hotels-anchor {
    text-decoration: none;
    color: #fff;
}

.section-two-child {
    background-color: var(--BGCOLOR);
    line-height: 2.8;
    padding: 1em;
    font-weight: 900;
    border-radius: 0.8em;
    box-shadow: 0.5em 0.5em 0 0.2em var(--GREENBG);
}

.section-two-child > img {
    margin: 1em 0 1em 0;
    border-radius: 0.5em;
    width: 100%;
}

.section-two-child-paragraph {
    color: var(--BLACK);
}

.section-two-child-anchor, .section-two-name-anchor {
    text-decoration: none;
    color: #000;
}

.section-two-child-anchor {
    float: right;
}

.section-two-name-anchor {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.section-two-name-anchor img {
    width: 70px;
}

.whole-section-two-descendants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: 0.1em 0 2em 0;
}

.footer-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 4em; /* Increase padding for more space */
  background-color: #e2f7f3; /* Adjust to the mint green shade */
  border-radius: 1em;
  box-shadow: 0 0.3em 0.5em 0.1em #ccc; /* Slightly increased shadow */
  position: relative;
  z-index: 0; /* Ensure it's layered on top if needed */
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: -150px; /* Negative margin pulls the footer-head above the footer-bottom */
}

.suscribe-parent {
  line-height: 3;
}

.suscribe-heading {
  line-height: 1.2;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.5em;
}

.suscribe-paragraph {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-weight: 900;
  font-size: 1.2em;
  margin: 0.5em 0 0.5em 0;
}

.suscribe-anchor {
  text-decoration: none;
  color: var(--BLACK);
}

.subscibe-input {
  position: relative;
  margin: 1em 0 1em 0;
}

.subscibe-input input {
  width: 100%;
  height: 50px;
  padding: 1em 9em 1em 1em;
  outline: none;
  border: none;
  border-radius: 0.5em;
}

.subcribe-input-anchor {
  text-decoration: none;
  color: var(--WHITE);
  background-color: #000;
  padding: 0 1.5em 0 1.5em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

.bell-message {
  position: relative;
}

.bell {
  position: absolute;
  left: 3em;
  z-index: 100;
}

.footer-bottom {
  display: flex;
  justify-content: space-evenly;
  background-color: #68c6c8;
  padding: 12em 0 2.5em 0;
  position: relative;
  z-index: -1;
  width: 100%;
}

.footer-bottom-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer-bottom-child2 {
  display: flex;
  gap: 5em;
}

.footer-bottom-anchor1 {
  display: flex;
  gap: 0.35em;
  padding-left: 30px;
}

.footer-bottom-anchor {
  display: flex;
  flex-direction: column;
}

.footer-bottom-heading {
  font-size: 1.15em;
  line-height: 3;
}

.footer-links, .all-footer-img-link {
  text-decoration: none;
  color: var(--BLACK);
  line-height: 1.5;
}


/* MEDIA-QUERY */
:is(.mobile-view-nav, .mobile-view-header-texts,.whole-main-mobile-view, .mobile-view-header, .navigation, .second-main-mobile, .footer-mobile-view, .mobile-view-copyright) {
    display: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #db8b14;
}

.content-page{
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.content-page2{
    background-color: #fff;
    margin-bottom: 150px;
}

.trip-type{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
}

#cabinClass{
    border: none;
}

