@media screen and (max-width:375px) {
    .sign-up-main{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 140vh;
        width: 100%;
    }

    .sign-up-img {
        display: none;
     }

    .form-grid{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;   
    }

    .sign-up-form{
        display: flex;
        flex-direction: column;
        min-height: 125vh;
        justify-content: space-between;
        width: 87%;
        
    }

    .first-input{
        height:53px;
        width: 340px;
        display: inline;
        font-size: 25px;
    }
    .button-con{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;  
         
    }

    .button-con > button{
        text-align: center;
        width: 330px;
        height: 40px;
        background-color: #68C6C8;
        border-radius: 6px;
        border: none;
        outline: none;
        font-size: 1.3rem;
    }
    .button-con a{
        font-size: 20px;
        
    }

    .google-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 50px;
    }

    .divider {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    
    .divider::before, .divider::after {
        content: "";
        width: 100px;
        border-top: 1px solid #ccc;
        
    }
    
    .divider::before {
        margin-right: 10px;
    }
    
    .divider::after {
        margin-left: 10px;
    }
    
    .divider span {
        white-space: nowrap;
        font-size: 18px;
        color: #555;
    }

    

    .chekboxx a{  
        text-decoration: none;
        color: #ff8682;
        font-size: 17px;
         
}

    #toggle-password{
        position: absolute; 
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
   }
 
}