/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f5f5f5; */
    background:linear-gradient(rgba(0, 0, 0,0.2),rgba(0,0,0,0.2),rgba(0,0,0,0.2));
   
}

.chat-container {
    width: 65%;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* background-color: #fff; */
    background-image:linear-gradient(rgba(0, 0, 0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./Graident\ Ai\ Robot.jpg);
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.chat-message {
    margin: 10px 0;
    padding: 10px;
    border-radius:7px;
    /* max-width: 80%; */
    width: calc(100% - 80px);
}

.bot-message {
    background-color: gainsboro;
    align-self: flex-start;
    border-radius: 7px;
    width: calc(100% - 80px);
}

.user-message {
    background-color: whitesmoke;
    align-self: flex-end;
    border-radius: 7px;
    /* width: 100%; */
    width: calc(100% - 80px);
}

#input {
    border: none;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: calc(100% - 80px);
    box-sizing: border-box;
    border-radius: 6px;
    border-color: black;
    margin-left: 2px;
    position:relative ;
}

#send-button {
    border: none;
    background-color: lightgray;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid #ccc;
    width: 80px;
    border-color: black;
    margin-left: 2px;
    border-radius: 5px;
    position: absolute;
    right: 330px;
    bottom: 157px;
}
